model:
  name: "?"
  temperature: 0.2
user:
  name: "?"
  image: "?"
bot:
  name: "?"
  image: "?"
language:
  native: "?"
  learning: "?"
  level: "?"
text_to_speech:
  voice: "?"
behavior:
  auto_send_recording: false