[model]
name = "gpt-3.5-turbo"
temperature = 0.8

[user]
name = "?"
image = "?"

[bot]
name = "?"
image = "?"

[language]
native = "en"
learning = "?"
level = "intermediate"

[text_to_speech]
voice = "?"

[behavior]
auto_send_recording = false