<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='audio.js') }}"></script>
    <script>
        let filename = "{{ url_for('static', filename='tmp/f1.mp3') }}";
        let upload_endpoint = "{{ url_for('upload') }}";
    </script>
<title>Web Audio API MP3 Player</title>
</head>
<body>
<button onclick="initAudio()">Init</button>
<button onclick="playAudio()">Play/Unpause MP3</button>
<button onclick="pauseAudio()">Pause MP3</button>
<button onclick="stopAudio()">Stop MP3</button>
<hr>
<button onclick="startRecording()">Start Recording</button>
<button onclick="stopRecording()">Stop Recording</button>
</body>
</html>