<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Companion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Add Bootstrap CSS and custom styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <!-- Add jQuery and custom script -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://unpkg.com/mousetrap"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/plugins/global-bind/mousetrap-global-bind.min.js"></script>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <script>
      var languages = {{ languages | tojson }};
      var auto_send_recording = {{ auto_send_recording }};
      var user_profile_img = "{{ user_profile_img }}";
      var bot_profile_img = "{{ bot_profile_img }}";
    </script>
  </head>
  <body>
    <div id="notification-area"></div>
    <div class="container my-0">
      <div class="d-flex justify-content-center align-items-center mb-4">
        <h1 class="mb-0"><img src="/static/logo.png" style="max-width: 300px;" id="logo-image"></h1>
      </div>
      <div id="message-box" class="bg-light p-3"></div>
      <form id="message-form" class="d-flex">
        <div class="input-group">
          <button type="button" id="mode-toggle-button" class="btn btn-secondary" title="Dark/Light Mode">
            <i id="mode-icon" class="fas fa-moon"></i>
          </button>
          <button type="button" id="load-saved-session" class="btn btn-secondary" title="Continue last saved session">
            <i id="load-saved-icon" class="fa-solid fa-rotate-right"></i>
          </button>
          <button type="button" id="save-session" class="btn btn-secondary" title="Save session for later">
            <i id="save-icon" class="fa-solid fa-floppy-disk"></i>
          </button>
          <input type="text" id="message-input" class="form-control" placeholder="Type your message here..." autocomplete="off">
          <button type="submit" id="submit-button" class="btn btn-primary" title="Submit Message">
            <i class="fas fa-paper-plane"></i>
          </button>
          <button type="button" id="lang-toggle-button" class="btn btn-secondary" title="Switch Recording Language [Alt+L]">
            <span id="lang-text">fr</span>
          </button>
          <button type="button" id="record-button" class="btn btn-secondary off" title="Record Message [Alt+R]">
            <i class="fas fa-microphone"></i>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
